future==1.0.0
hidapi==0.14.0.post4
keyboard==0.13.5; sys_platform != 'darwin'
macholib==1.16.3
pefile==2023.2.7
PyInstaller==6.13.0
PyQt6==6.7.1
PyQt6-Qt6==6.7.3
PyQt6-sip==13.8.0
pytest==7.0.1
pytest-qt==4.0.2
pytest-xvfb==2.0.0
simpleeval==1.0.3
pywin32==311; sys_platform == 'win32'
certifi
